<div class="alert alert-info" *ngIf="!pais;else divPais">
  espere por favor...
</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12 text-center mb-3">
      <h1>Pais: {{pais.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center d-flex flex-column">
      <h3 class="">Bandera:</h3>
      <img [src]="pais.flag" alt="" class="img-thumbnail bandera my-auto">
    </div>
    <div class="col d-flex flex-column">
      <h3 class="text-center ">Información:</h3>
      <ul class="list-group my-auto">
        <li class="list-group-item text-center">
          <strong>Capital: {{pais.capital}}</strong>
        </li>
        <li class="list-group-item text-center">
          <strong>Poblacion: {{pais.population | number}}</strong>
        </li>
        <li class="list-group-item text-center">
          <strong>Codigo Numerico: {{pais.numericCode}}</strong>
        </li>
        <li class="list-group-item text-center">
          <strong>Codigo Apha 3: {{pais.alpha3Code}}</strong>
        </li>
      </ul>
    </div>

    <!-- <pre class="mt-5">
      {{pais | json}}
    </pre> -->

  </div>
</ng-template>


