html, body{
  height: 100%;
}

#sidebar{
  height: 100%;
  min-height: 100vh;
  min-width: 180px;
}

.contenedorGifs{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}


.carta{
  flex-shrink: 0;
  width: 25%;
  min-width: 18rem;
  height: 20rem;
  padding: 1rem;
  animation-name: aparecer;
  animation-duration: 3s;
}
.carta img{
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;
}

@keyframes aparecer{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.historial{
  cursor: pointer;
}

.historial li:hover{
  background-color: #ee8;
  transform: scaleX(1.05);
}
.historial li:active{
  transform: scaleX(1.00) ;
}
